<% const tideCtx=get_ctx(site,config,theme,page) %>
<article id="tide-post" <%- tideCtx.microformats2&&!tideCtx.page_encrypted?' class="h-entry"':'' %>>
  <h1 id="tide-post-title" class="<%= tideCtx.microformats2&&!tideCtx.page_encrypted?'p-name':''%> un-m-0 un-mb-2 un-text-4xl un-text-txt-prim un-font-bold"><%= tideCtx.page_title?tideCtx.page_title:__('page_title.none') %></h1>
  <%- partial('./partials/post-meta.ejs',{postCtx:tideCtx,detailed:true}) %>
  <% if(tideCtx.microformats2&&!tideCtx.page_encrypted){ %>
  <%- partial('./partials/hidden-microformats2-group.ejs',{tideCtx}); %>
  <% } %>
  <div class="<%= tideCtx.microformats2&&!tideCtx.page_encrypted?'e-content':''%> un-prose un-max-w-none">
    <%- page.content %>
  </div>
</article>
<nav id="tide-page-nav" class="un-sc-clearfix un-my-4">
  <% if(!tide_utils().isEmptyObject(tideCtx.prev)){ %>
  <a class="un-sc-link-plain un-float-start un-text-txt-scnd!" title="<%= __('page_nav.prev.title') %>" href="<%= url_for(tideCtx.prev.path) %>"><i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-angle-right':'fa-angle-left' %> un-me-1" aria-hidden="true"></i><span><%= tideCtx.prev.title?tideCtx.prev.title:__('page_title.none') %></span></a>
  <% } %>
  <% if(!tide_utils().isEmptyObject(tideCtx.next)){ %>
  <a class="un-sc-link-plain un-float-end un-text-txt-scnd!" title="<%= __('page_nav.next.title') %>" href="<%= url_for(tideCtx.next.path) %>"><span><%= tideCtx.next.title?tideCtx.next.title:__('page_title.none') %></span><i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-angle-left':'fa-angle-right' %> un-ms-1" aria-hidden="true"></i></a>
  <% } %>
</nav>
<% if(tideCtx.interactions&&!tideCtx.page_encrypted){ %>
<%- partial('./partials/interactions/interactions.ejs',{tideCtx}) %>
<% } %>