<% const tideCtx=get_ctx(site,config,theme,page) %>

<!-- https://microformats.org/wiki/h-entry -->
<!-- <article class="h-entry">
  <h1 class="p-name">Microformats are amazing</h1>
  <p>Published by <a class="p-author h-card" href="http://example.com">W. Developer</a>
     on <time class="dt-published" datetime="2013-06-13 12:00:00">13<sup>th</sup> June 2013</time></p>
  
  <p class="p-summary">In which I extoll the virtues of using microformats.</p>
  
  <div class="e-content">
    <p>Blah blah blah</p>
  </div>
</article> -->

<!-- p-name - entry name/title
p-summary - short entry summary
e-content - full content of the entry


u-in-reply-to - the URL which the h-entry is considered reply to (i.e. doesn’t make sense without context, could show up in comment thread), optionally an embedded h-cite (reply-context) (example)

u-like-of - the URL which the h-entry is considered a “like” (favorite, star) of. Optionally an embedded h-cite
u-repost-of - the URL which the h-entry is considered a “repost” of. Optionally an embedded h-cite. -->


<article id="tide-post" <%= tideCtx.microformats2?'class="h-entry"':'' %>>
  <h1 id="tide-post-title" <%= tideCtx.microformats2?'class="p-name"':'' %> un-mt="0" un-mb="2" un-text="4xl" un-font="bold"><%= tideCtx.page_title===''?__('no_title'):tideCtx.page_title %></h1>
  <%- partial('./partials/post-meta.ejs',{postCtx:tideCtx,detailed:true}) %>
  <% if(tideCtx.microformats2){ %>
  <div class="tide-hidden-microformats2-group" un-hidden>
    <a class="u-url" href="<%= full_url_for(tideCtx.path) %>" un-hidden><%= full_url_for(tideCtx.path) %></a>
    <% for(const card of tideCtx.page_h_cards){ %>
    <%- partial('./partials/h-card.ejs',{h_card:card,authorCard:true}) %>
    <% } %>
    <time class="dt-published" datetime="<%= date_xml(tideCtx.date) %>" un-hidden><%= date_xml(tideCtx.date) %></time>
    <time class="dt-updated" datetime="<%= date_xml(tideCtx.updated) %>" un-hidden><%= date_xml(tideCtx.updated) %></time>
    <% tideCtx.page_categories.forEach((cate,i)=>{ %>
      <a class="p-category" href="<%= full_url_for(cate.path) %>" un-hidden><%= cate.name %></a>
    <% }) %>
    <% tideCtx.syndications.forEach((syn,i)=>{ %>
      <a class="u-syndication" href="<%= syn %>" un-hidden><%= syn %></a>
    <% }) %>
  </div>
  <% } %>




  <!-- post-meta test -->

  <!-- 应为 microformats2 单独提供 meta -->





  <!-- 应该是这种结构 -->
  <div un-prose un-max-w="none">
    <%-page.content%>
  </div>
</article>

<!--  -->

<div id="paginator">
  <%-paginator()%>
</div>