<% const tideCtx=get_ctx(site,config,theme,page) %>
<article id="tide-post" <%- tideCtx.microformats2?' class="h-entry"':'' %>>
  <h1 id="tide-post-title" class="<%= tideCtx.microformats2?'p-name ':''%> un-mt-0 un-mb-2 un-text-4xl un-font-bold"><%= tideCtx.page_title?tideCtx.page_title:__('no_title') %></h1>
  <%- partial('./partials/post-meta.ejs',{postCtx:tideCtx,detailed:true}) %>
  <% if(tideCtx.microformats2){ %>
  <div class="tide-hidden-microformats2-group un-hidden">
    <a class="u-url un-hidden" href="<%= full_url_for(tideCtx.path) %>"><%= full_url_for(tideCtx.path) %></a>
    <% for(const card of tideCtx.page_h_cards){ %>
    <%- partial('./partials/h-card.ejs',{h_card:card,authorCard:true}) %>
    <% } %>
    <time class="dt-published un-hidden" datetime="<%= date_xml(tideCtx.date) %>"><%= date_xml(tideCtx.date) %></time>
    <time class="dt-updated un-hidden" datetime="<%= date_xml(tideCtx.updated) %>"><%= date_xml(tideCtx.updated) %></time>
    <% tideCtx.page_categories.forEach((cate,i)=>{ %>
    <a class="p-category un-hidden" href="<%= full_url_for(cate.path) %>"><%= cate.name %></a>
    <% }) %>
    <% tideCtx.syndications.forEach((syn,i)=>{ %>
    <a class="u-syndication un-hidden" href="<%= syn %>"><%= syn %></a>
    <% }) %>
    <% for(const interKey of Object.keys(tideCtx.indieweb_interactions)){ %>
    <% let interClass=''%>
    <!-- 如果把 switch 的每一行都包裹，会报错。通常来讲 EJS 不需要每一行都包裹；但是如果不这么做，语法高亮会变混乱。 -->
    <% switch(interKey){
      case 'reply':
      interClass='u-in-reply-to'
      break
      case 'like':
      interClass='u-like-of'
      break
      case 'repost':
      interClass='u-repost-of'
      break
      case 'bookmark':
      interClass='u-bookmark-of'
      break
      } %>
    <% if(interClass){ %>
    <% for(const interUrl of tideCtx.indieweb_interactions[interKey]){ %>
    <a class="<%= interClass %> un-hidden" href="<%= interUrl %>"><%= interUrl %></a>
    <% }}} %>
  </div>
  <% } %>
  <div class="un-prose un-max-w-none">
    <%-page.content%>
  </div>
</article>
<nav id="tide-page-nav" class="un-sc-clearfix un-py-4">
  <% if(!tide_utils().isEmptyObject(tideCtx.prev)){ %>
  <a class="un-sc-link-plain un-float-start un-text-t-scnd!" title="<%= __('page_nav.prev.title') %>" href="<%= url_for(tideCtx.prev.path) %>"><i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-angle-right':'fa-angle-left' %> un-me-1" aria-hidden="true"></i><span><%= tideCtx.prev.title?tideCtx.prev.title:__('no_title') %></span></a>
  <% } %>
  <% if(!tide_utils().isEmptyObject(tideCtx.next)){ %>
  <a class="un-sc-link-plain un-float-end un-text-t-scnd!" title="<%= __('page_nav.next.title') %>" href="<%= url_for(tideCtx.next.path) %>"><span><%= tideCtx.next.title?tideCtx.next.title:__('no_title') %></span><i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-angle-left':'fa-angle-right' %> un-ms-1" aria-hidden="true"></i></a>
  <% } %>
</nav>
<!-- 评论 -->
<aside id="tide-page-interaction"></aside>