<dialog id="tide-dialog-image-viewer" class="un-sc-dlg-fullscreen">
  <div class="tide-dialog-mask un-sc-dlg-mask">
    <img id="tide-viewing-image" tabindex="0">
  </div>
  <div id="tide-image-viewer-toolbar" class="tide-dialog-container un-bg-black/75 un-absolute un-bottom-1/5 un-left-1/2 -un-translate-x-1/2 un-px-4 un-py-2 un-w-84 un-max-w-full un-max-h-2/5 un-rounded-2xl un-text-base un-text-white un-overflow-auto un-break-words">
    <div id="tide-viewing-image-title" class="un-mb-4 un-text-center un-text-xl"></div>
    <div id="tide-image-viewer-counter" class="un-mb-4 un-text-center"></div>
    <div id="tide-image-viewer-controls" class="un-flex un-flex-wrap un-justify-between un-max-w-76 un-mx-auto">
      <button id="tide-image-viewer-btn-prev" class="un-sc-btn-default un-text-white un-border-white un-rounded-full un-size-12 un-shrink-0" title="<%= __('image_viewer.btn_prev.title') %>">
        <i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-chevron-right':'fa-chevron-left' %>" aria-hidden="true"></i>
      </button>
      <button id="tide-image-viewer-btn-next" class="un-sc-btn-default un-text-white un-border-white un-rounded-full un-size-12 un-shrink-0" title="<%= __('image_viewer.btn_next.title') %>">
        <i class="fa-solid <%= tideCtx.dir==='rtl'?'fa-chevron-left':'fa-chevron-right' %>" aria-hidden="true"></i>
      </button>
      <button id="tide-image-viewer-btn-zoom-in" class="un-sc-btn-default un-text-white un-border-white un-rounded-full un-size-12 un-shrink-0" title="<%= __('image_viewer.btn_zoom_in.title') %>">
        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
      </button>
      <button id="tide-image-viewer-btn-zoom-out" class="un-sc-btn-default un-text-white un-border-white un-rounded-full un-size-12 un-shrink-0" title="<%= __('image_viewer.btn_zoom_out.title') %>">
        <i class="fa-solid fa-magnifying-glass-minus" aria-hidden="true"></i>
      </button>
      <button id="tide-image-viewer-btn-close" class="un-sc-btn-default un-text-white un-border-white un-rounded-full un-size-12 un-shrink-0" title="<%= __('image_viewer.btn_close.title') %>">
        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <%- js({src:tideCtx.cdn.pinchzoom_js.src,integrity:tideCtx.cdn.pinchzoom_js.integrity,crossorigin:'anonymous',referrerpolicy:'no-referrer'}) %>
  <script>
    const imgViewerDialogDom = $('#tide-dialog-image-viewer').get(0);
    let imgDom = $('#tide-viewing-image').get(0);
    const pz = new PinchZoom.default(imgDom, {
      listenOnElementNotContainer: true,
      useMouseWheel: true,
      rtl: $('html').attr('dir') === 'rtl' ? true : false,
      minZoom: 0.25,
      maxZoom: 4,
      zoomOutFactor: 0,
      onDragStart: (object, event) => {
        $(imgDom).css('cursor', 'grabbing');
      },
      onDragEnd: (object, event) => {
        $(imgDom).css('cursor', 'grab');
      }
    });
    pz.enable();
    $(imgDom).css({
      'user-drag': 'none',
      '-webkit-user-drag': 'none',
      'user-select': 'none',
      '-moz-user-select': 'none',
      '-webkit-user-select': 'none',
      '-ms-user-select': 'none',
      'cursor': 'grab'
    }).on('dragstart', () => {
      return false;
    });
    let pageImgs = $('#tide-page :not(a)>img:visible, #tide-post :not(a)>img:visible');
    const imgCounts = pageImgs.length;
    let currentImgIndex;
    pageImgs.css('cursor', 'zoom-in');

    function openImage(index) {
      const dom = pageImgs.get(index);
      imgDom.src = dom.src;
      imgDom.alt = dom.alt;
      if (dom.title) {
        imgDom.title = dom.title;
        $('#tide-viewing-image-title').text(dom.title).show();
      } else {
        imgDom.title = '';
        $('#tide-viewing-image-title').text('').hide();
      }
      $('#tide-image-viewer-counter').text(currentImgIndex + 1 + '/' + imgCounts);
      pz.zoomFactor = 1;
      pz.lastScale = 1;
      pz.resetOffset();
    }

    function toPrev() {
      if (currentImgIndex <= 0)
        currentImgIndex = imgCounts - 1;
      else
        --currentImgIndex;
      openImage(currentImgIndex);
    }

    function toNext() {
      if (currentImgIndex >= imgCounts - 1)
        currentImgIndex = 0;
      else
        ++currentImgIndex;
      openImage(currentImgIndex);
    }

    function zoomIn(step) {
      const zoomFactor = pz.getInitialZoomFactor() * pz.zoomFactor,
        center = {
          x: -pz.offset.x + pz.el.offsetWidth * zoomFactor / 2,
          y: -pz.offset.y + pz.el.offsetHeight * zoomFactor / 2
        },
        newScale = Math.max(
          Math.min(pz.options.maxZoom, pz.lastScale + step),
          pz.options.minZoom
        ),
        scale = newScale / pz.lastScale;
      pz.scale(scale, center);
      pz.lastScale = newScale;
      pz.update();
    }

    function zoomOut(step) {
      const zoomFactor = pz.getInitialZoomFactor() * pz.zoomFactor,
        center = {
          x: -pz.offset.x + pz.el.offsetWidth * zoomFactor / 2,
          y: -pz.offset.y + pz.el.offsetHeight * zoomFactor / 2
        },
        newScale = Math.min(
          Math.max(pz.options.minZoom, pz.lastScale - step),
          pz.options.maxZoom
        ),
        scale = newScale / pz.lastScale;
      pz.scale(scale, center);
      pz.lastScale = newScale;
      pz.update();
    }

    function addOffset(offset) {
      pz.offset.x += offset.x;
      pz.offset.y += offset.y;
      pz.offset = pz.sanitizeOffset(pz.offset);
      pz.update();
    }

    function moveDown(step) {
      addOffset({
        x: 0,
        y: -step
      });
    }

    function moveRight(step) {
      addOffset({
        x: -step,
        y: 0
      });
    }

    function openImageViewer() {
      openImage(currentImgIndex);
      imgViewerDialogDom.showModal();
      $('#tide-image-viewer-btn-next').focus();
    };
    pageImgs.click(function(e) {
      currentImgIndex = $.inArray(e.target, pageImgs);
      openImageViewer();
    }).keydown(function(e) {
      if (e.key === 'Enter') {
        e.preventDefault();
        currentImgIndex = $.inArray(e.target, pageImgs);
        openImageViewer();
      }
    });
    $('#tide-image-viewer-btn-prev').click(() => {
      toPrev();
    });
    $('#tide-image-viewer-btn-next').click(() => {
      toNext();
    });
    $('#tide-image-viewer-btn-zoom-in').click(() => {
      zoomIn(0.2);
    });
    $('#tide-image-viewer-btn-zoom-out').click(() => {
      zoomOut(0.2);
    });
    $('#tide-image-viewer-btn-close').click(() => {
      imgViewerDialogDom.close();
    });
    $('#tide-viewing-image').keydown(function(e) {
      const xStep = $('.tide-dialog-mask:has(#tide-viewing-image)').width() / 20;
      const yStep = $('.tide-dialog-mask:has(#tide-viewing-image)').height() / 20;
      switch (e.key) {
        case 'ArrowUp':
          moveDown(-xStep);
          e.preventDefault();
          e.stopPropagation();
          break;
        case 'ArrowDown':
          moveDown(xStep);
          e.preventDefault();
          e.stopPropagation();
          break;
        case 'ArrowLeft':
          moveRight(-yStep);
          e.preventDefault();
          e.stopPropagation();
          break;
        case 'ArrowRight':
          moveRight(yStep);
          e.preventDefault();
          e.stopPropagation();
          break;
      }
    });
    $('#tide-dialog-image-viewer').keydown(function(e) {
      switch (e.key) {
        case 'ArrowUp':
          zoomIn(0.1);
          e.preventDefault();
          break;
        case 'ArrowDown':
          zoomOut(0.1);
          e.preventDefault();
          break;
        case 'ArrowLeft':
          $('html').attr('dir') === 'rtl' ? toNext() : toPrev();
          e.preventDefault();
          break;
        case 'ArrowRight':
          $('html').attr('dir') === 'rtl' ? toPrev() : toNext();
          e.preventDefault();
          break;
      }
    });
  </script>
</dialog>