<div class="h-adr p-location un-hidden">
  <% if(h_adr.p_street_address){ %>
  <span class="p-street-address"><%= h_adr.p_street_address %></span>
  <% } %>
  <% if(h_adr.p_extended_address){ %>
  <span class="p-extended-address"><%= h_adr.p_extended_address %></span>
  <% } %>
  <% if(h_adr.p_locality){ %>
  <span class="p-locality"><%= h_adr.p_locality %></span>
  <% } %>
  <% if(h_adr.p_region){ %>
  <span class="p-region"><%= h_adr.p_region %></span>
  <% } %>
  <% if(h_adr.p_country_name){ %>
  <span class="p-country-name"><%= h_adr.p_country_name %></span>
  <% } %>
  <% if(h_adr.p_longitude){ %>
  <span class="p-longitude"><%= h_adr.p_longitude %></span>
  <% } %>
  <% if(h_adr.p_latitude){ %>
  <span class="p-latitude"><%= h_adr.p_latitude %></span>
  <% } %>
  <% if(h_adr.p_altitude){ %>
  <span class="p-altitude"><%= h_adr.p_altitude %></span>
  <% } %>
</div>