<div class="tide-hidden-microformats2-group un-hidden">
  <a class="u-url" href="<%= full_url_for(tideCtx.path) %>"><%= full_url_for(tideCtx.path) %></a>
  <% if(tideCtx.excerpt){ %>
  <p class="p-summary"><%= strip_html(tideCtx.excerpt) %></p>
  <% }else if(tideCtx.page_specific_description){ %>
  <p class="p-summary"><%= tideCtx.page_specific_description %></p>
  <% } %>
  <% for(const card of tideCtx.page_h_cards){ %>
  <%- partial('./h-card.ejs',{h_card:card,authorCard:true}) %>
  <% } %>
  <time class="dt-published" datetime="<%= date_xml(tideCtx.date) %>"><%= date_xml(tideCtx.date) %></time>
  <time class="dt-updated" datetime="<%= date_xml(tideCtx.updated) %>"><%= date_xml(tideCtx.updated) %></time>
  <% tideCtx.page_categories.forEach((cate,i)=>{ %>
  <a class="p-category" href="<%= full_url_for(cate.path) %>"><%= cate.name %></a>
  <% }) %>
  <% tideCtx.syndications.forEach((syn,i)=>{ %>
  <a class="u-syndication" href="<%= syn %>"><%= syn %></a>
  <% }) %>
  <% for(const interKey of Object.keys(tideCtx.indieweb_interactions)){ %>
  <% let interClass=''%>
  <!-- 如果把 switch 的每一行都包裹，会报错。通常来讲 EJS 不需要每一行都包裹；但是如果不这么做，语法高亮会变混乱。 -->
  <% switch(interKey){
      case 'reply':
      interClass='u-in-reply-to'
      break
      case 'like':
      interClass='u-like-of'
      break
      case 'repost':
      interClass='u-repost-of'
      break
      case 'bookmark':
      interClass='u-bookmark-of'
      break
      } %>
  <% if(interClass){ %>
  <% for(const interUrl of tideCtx.indieweb_interactions[interKey]){ %>
  <a class="<%= interClass %>" href="<%= interUrl %>"><%= interUrl %></a>
  <% } %>
  <% } %>
  <% } %>
</div>