<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<% if(tideCtx.layout==='categories'){ %>
<title><%= __('page_title.categories') %></title>
<% }else if(tideCtx.layout==='tags'){ %>
<title><%= __('page_title.tags') %></title>
<% }else if(is_post()||is_page()){ %>
<title><%= tideCtx.page_title?tideCtx.page_title:__('page_title.none') %></title>
<% }else if(is_archive()){ %>
<% if(is_month()){ %>
<% const dateBegin=moment().year(tideCtx.year).month(parseInt(tideCtx.month)-1).date(1) %>
<% const dateEnd=moment(dateBegin).add(1,'month').add(-1,'days') %>
<title><%= __('page_title.archive_month',date(dateBegin),date(dateEnd)) %></title>
<% }else if(is_year()){ %>
<% const dateBegin=moment().year(tideCtx.year).month(0).date(1) %>
<% const dateEnd=moment(dateBegin).add(12,'month').add(-1,'days') %>
<title><%= __('page_title.archive_year',date(dateBegin),date(dateEnd)) %></title>
<% }else{ %>
<title><%= __('page_title.archive') %></title>
<% } %>
<% }else if(is_category()){ %>
<title><%= __('page_title.category',tideCtx.category) %></title>
<% }else if(is_tag()){ %>
<title><%= __('page_title.tag',tideCtx.tag) %></title>
<% }else{ %>
<title><%= tideCtx.site_title?tideCtx.site_title:__('page_title.none') %></title>
<% } %>
<meta name="keywords" content="<%= tideCtx.keywords %>">
<%- open_graph({title:tideCtx.page_titl?tideCtx.page_title:tideCtx.site_title,author:tideCtx.author,language:tideCtx.language,description:tideCtx.description}) %>
<!-- og 包含 description，不用单独写。 -->
<% if(!tideCtx.page_visibility.no_index){ %>
<meta name="robots" content="all">
<% } %>
<%- feed_tag() %>
<%- generate_meta_links(tideCtx.meta_links) %>
<% if(tideCtx.meta_generator){ %>
<%- meta_generator() %>
<%- meta_generator_tide() %>
<% } %>
<%- meta_tide_client_ctx(tideCtx) %>