<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title><%= tideCtx.page_title===''?tideCtx.site_title:tideCtx.page_title %></title>

<!-- favivon、description、keywords…… -->
<link rel="icon" href="<%= url_for(tideCtx.meta_icons?.favicon) %>">
<link rel="apple-touch-icon" href="<%= url_for(tideCtx.meta_icons?.apple_touch_icon) %>">
<meta name="description" content="<%= tideCtx.description %>">
<!-- robots index follow……，如果检测到页面隐藏，就不加这个，而是让插件决定 -->
<meta name="keywords" content="<%= tideCtx.keywords %>">
<%- meta_generator() %>
<%- meta_generator_tide() %>
<!-- 我得把 open graph 的选项写在 ogOptions 里，如果直接写在函数参数处，unocss 会生成错误的样式 -->
<% const ogOptions={title:tideCtx.page_title===''?tideCtx.site_title:tideCtx.page_title,author:tideCtx.author,language:tideCtx.language,description:tideCtx.description} %>
<%- open_graph(ogOptions) %>