<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<% let currentPageTitle=tideCtx.page_title||__('page_title.none') %>
<% if(tideCtx.layout==='categories'){ %>
<% currentPageTitle=__('page_title.categories') %>
<% }else if(tideCtx.layout==='tags'){ %>
<% currentPageTitle=__('page_title.tags') %>
<% }else if(is_archive()){ %>
<% if(is_month()){ %>
<% const dateBegin=moment().year(tideCtx.year).month(parseInt(tideCtx.month)-1).date(1) %>
<% const dateEnd=moment(dateBegin).add(1,'month').add(-1,'days') %>
<% currentPageTitle=__('page_title.archive_month',date(dateBegin),date(dateEnd),tideCtx.description_marker,tideCtx.range_marker) %>
<% }else if(is_year()){ %>
<% const dateBegin=moment().year(tideCtx.year).month(0).date(1) %>
<% const dateEnd=moment(dateBegin).add(12,'month').add(-1,'days') %>
<% currentPageTitle=__('page_title.archive_year',date(dateBegin),date(dateEnd),tideCtx.description_marker,tideCtx.range_marker) %>
<% }else{ %>
<% currentPageTitle=__('page_title.archive',tideCtx.current,tideCtx.description_marker) %>
<% } %>
<% }else if(is_category()){ %>
<% currentPageTitle=__('page_title.category',tideCtx.category,tideCtx.description_marker) %>
<% }else if(is_tag()){ %>
<% currentPageTitle=__('page_title.tag',tideCtx.tag,tideCtx.description_marker) %>
<% } %>
<title><%= currentPageTitle %></title>
<% if(!tideCtx.page_encrypted){ %>
<meta name="keywords" content="<%= tideCtx.keywords %>">
<% let authorInline=tideCtx.page_author %>
<% if(tide_utils().isArray(authorInline)){ %>
<% authorInline=authorInline.join(tideCtx.list_separator)%>
<% } %>
<% if(tideCtx.open_graph.enable){ %>
<% let ogOptions={language:tideCtx.language,title:currentPageTitle,description:tideCtx.description,author:authorInline,date:tideCtx.date,updated:tideCtx.updated,url:tideCtx.permalink} %>
<% if(tideCtx.cover){ %>
<% ogOptions.image=[tideCtx.cover] %>
<% } %>
<%- open_graph(ogOptions) %>
<% } %>
<% } else { %>
<!-- og 包含 description，不用单独写。如果未开启，则单独写。 -->
<meta name="description" content="<%= tideCtx.description %>">
<% } %>
<% if(tideCtx.json_ld.enable){ %>
<%- json_ld(tideCtx.json_ld,tideCtx.layout,tideCtx.language,currentPageTitle,tideCtx.description,tideCtx.page_author,tideCtx.date,tideCtx.updated,tideCtx.permalink,tideCtx.cover) %>
<% } %>
<%- autoCanonical(config,page) %>
<% if(!tideCtx.page_visibility.no_index){ %>
<meta name="robots" content="all">
<% } %>
<%- feed_tag() %>
<%- partial('./res/res-meta-front.ejs',{tideCtx}) %>
<%- generate_meta_links(tideCtx.meta_links) %>
<% if(tideCtx.meta_generator){ %>
<%- meta_generator() %>
<%- meta_generator_tide() %>
<% } %>
<%- meta_tide_client_ctx(tideCtx) %>
<% if(tideCtx.interactions&&!tideCtx.page_encrypted&&Object.prototype.hasOwnProperty.call(tideCtx.interactions,'giscus')){ %>
<meta name="giscus:backlink" content="<%= page.permalink %>">
<% } %>