<!-- todo 添加 detailed，标记是否显示更新时间、作者、字数、额外信息，syndications 等信息 -->
<div class="tide-post-meta" un-mb="2" un-text="t-scnd">
    <!-- 为 span 添加 un-inline-block 以在 rtl 下适应方向 -->
    <% if(detailed){ %>
      <% const authorCount = postCtx.page_author.split(', ').length; %>
      <span class="tide-post-meta-author" title="<%= _p('post_meta.author.title',authorCount) %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
        <i class="fa-solid fa-user" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><%= postCtx.page_author %>
      </span>
    <% } %>
    <span class="tide-post-meta-date" title="<%= __('post_meta.date.title') %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
      <i class="fa-solid fa-pen" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><%- time_tag(postCtx.date,detailed?`${postCtx.date_format} ${postCtx.time_format}`:`${postCtx.date_format}`) %>
    </span>
    <% if(detailed){ %>
      <span class="tide-post-meta-updated" title="<%= __('post_meta.updated.title') %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
        <i class="fa-solid fa-wrench" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><%- time_tag(postCtx.updated,detailed?`${postCtx.date_format} ${postCtx.time_format}`:`${postCtx.date_format}`) %>
      </span>
    <% } %>
    <% if(postCtx.page_categories.length>0){ %>
    <span class="tide-post-meta-categories" title="<%= __('post_meta.categories.title') %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
      <i class="fa-solid fa-folder-open" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><% postCtx.page_categories.forEach((cate,i)=>{ %><a un-sc-link-plain un-text="!t-scnd" href="<%= url_for(cate.path) %>"><%= cate.name %></a><% if(i<postCtx.page_categories.length-1){ %>,&nbsp;<% } %><% }) %>
    </span>
    <% } %>
    <% if(postCtx.page_tags.length>0){ %>
    <span class="tide-post-meta-tags" title="<%= __('post_meta.tags.title') %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
      <i class="fa-solid fa-tag" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><% postCtx.page_tags.forEach((tag,i)=>{ %><a un-sc-link-plain un-text="!t-scnd" href="<%= url_for(tag.path) %>"><%= tag.name %></a><% if(i<postCtx.page_tags.length-1){ %>,&nbsp;<% } %><% }) %>
    </span>
    <% } %>
    <!-- todo 字数 -->
    <% if(postCtx.page_tags.length>0){ %>
    <%  %>


      <span class="tide-post-meta-tags" title="<%= __('post_meta.tags.title') %>" un-inline-block un-ltr="mr-8" un-rtl="ml-8">
        <i class="fa-solid fa-tag" aria-hidden="true" un-ltr="mr-1" un-rtl="ml-1"></i><% postCtx.page_tags.forEach((tag,i)=>{ %><a un-sc-link-plain un-text="!t-scnd" href="<%= url_for(tag.path) %>"><%= tag.name %></a><% if(i<postCtx.page_tags.length-1){ %>,&nbsp;<% } %><% }) %>
      </span>
    <% } %>



    <!-- todo 额外信息 -->
    <!-- todo syndications -->
</div>