<% if(postSrc.posts.length>0){ %>
<% if(typeof filter!=='function'){ %>
<% filter=()=>true %>
<% } %>
<ul class="tide-post-ul un-p-0 un-m-0 un-w-full un-list-none">
  <% const indexStart=(tideCtx.current-1)*tideCtx.per_page %>
  <% postSrc.posts.filter(filter).forEach((post)=>{ %>
  <% const postCtx=get_ctx(site,config,theme,post) %>
  <li class="tide-post-li un-block un-mb-16">
    <div class="tide-post-li-title un-mb-2">
      <a class="un-sc-link-plain un-text-txt-prim!" href="<%= url_for(postCtx.path) %>">
        <% if(postCtx.cover&&!postCtx.page_encrypted){ %>
        <img class="tide-post-li-cover un-block un-w-full un-aspect-3/1 un-mb-2 un-object-cover" src="<%= url_for(postCtx.cover) %>" alt="<%= postCtx.cover_alt %>" title="<%= postCtx.cover_title %>">
        <% } %>
        <h2 class="un-inline un-text-2xl un-font-bold"><%= postCtx.page_title?postCtx.page_title:__('page_title.none') %></h2>
      </a>
    </div>
    <%- partial('./post-meta.ejs',{postCtx,detailed:false}) %>
    <div class="tide-post-excerpt un-prose un-max-w-none">
      <% if(postCtx.excerpt){ %>
      <%- postCtx.excerpt %>
      <% } %>
    </div>
  </li>
  <% }) %>
</ul>
<% } %>